[Unit]
Description=Pure-FTPd FTP server daemon
After=syslog.target network.target pureuploadscript.target

[Service]
Type=forking
User=root
PIDFile=/var/run/pure-ftpd.pid
ExecStart=/usr/sbin/pure-config.pl /etc/pure-ftpd/pure-ftpd.conf --daemonize

[Install]
WantedBy=multi-user.target
